<div class="sidebar-container">
    <div class="logo flex justify-center items-center gap-8">
        <img src="https://png.pngtree.com/png-vector/20230327/ourmid/pngtree-car-parking-sign-design-template-vector-png-image_6671099.png" alt="" width="100px">
        <p class="text-2xl font-bold text-[#566573]">Management</p>
    </div>
    <hr class="border">
    <div class="mt-5">
    <div class="" *ngFor="let item of pageList">
        <div class="item" [routerLink]="item">{{item | titlecase}}</div>
    </div>
</div>
</div>