.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

mat-form-field {
    width: 48%;
    margin-bottom: 16px;
}

.btn {
}

mat-icon {
    vertical-align: middle;
}